<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoZebra</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../img/Logo_Header.png" type="image/png">
</head>
<body>
    <div class="index-content">
    <div class="container">
        <img src="../img/Logo_Index.png" alt="GeoZebra Logo" class="logo">
        <div class="text-section">
            <h1>GeoZebra</h1>
            <div class="buttons">
                <a href="principal.html" class="btn">Começar</a>
                <a href="sobre.html" class="btn">Sobre</a>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer">
        Copyright © GeoZebra 2024
    </footer>
</body>
</html>
