<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GeoZebra</title>
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="../img/Logo_Header.png" type="image/png">
    </head>
<body class="sobre-body">
    <header class="header">
        <img src="../img/Logo_Header.png" alt="GeoZebra Logo" class="header-logo">
        <nav class="header-nav">
            <a href="index.html" class="header-link">Início</a>
        </nav>
    </header>

    <main class="main-content">
        <section class="about">
            <h1 class="h1-sobre">Sobre o GeoZebra</h1>
            <p>O GeoZebra é um programa desenvolvido por acadêmicos do curso de Sistemas de Informação da UNIMONTES, na disciplina de Pesquisa Operacional, sob a orientação do professor Lenir De Abreu Júnior. Implementado em JavaScript, HTML e CSS o GeoZebra foi projetado para auxiliar na resolução de problemas de programação linear. O programa é capaz de propor possíveis soluções inteiras, plotar a região de viabilidade e as curvas de nível, e identificar a solução ótima tanto graficamente quanto algebricamente, utilizando a forma tabular simplex. Além disso, o GeoZebra possui a funcionalidade de identificar e trabalhar com soluções múltiplas, proporcionando uma compreensão visual e analítica aprofundada dos problemas de Pesquisa Operacional.</p>
        </section>
    <h2>Acadêmicos</h2>
    <div class="center">
    <section class="image-gallery">
        <div class="photo-item">
            <img src="../img/ana.png" alt="Nome 1" class="photo">
            <p class="photo-name">Ana Luíza</p>
        </div>
        <div class="photo-item">
            <img src="../img/gui.png" alt="Nome 2" class="photo">
            <p class="photo-name">Guilherme</p>
        </div>
        <div class="photo-item">
            <img src="../img/matheuss.jpg" alt="Nome 3" class="photo">
            <p class="photo-name">Matheus 👨🏼‍🚒</p>
        </div>
        <div class="photo-item">
            <img src="../img/raquel.png" alt="Nome 4" class="photo">
            <p class="photo-name">Raquel</p>
        </div>
    </section>
    </div>
    </main>

    <footer class="footer">
        Copyright © GeoZebra 2024
    </footer>
</body>
</html>