<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoZebra</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../img/Logo_Header.png" type="image/png">
</head>
<body class="main-body">
    <header class="header">
        <img src="../img/Logo_Header.png" alt="GeoZebra Logo" class="header-logo">
        <nav class="header-nav">
            <a href="index.html" class="header-link" onclick="localStorage.removeItem('modificarProblema');">Início</a>
        </nav>
    </header>

    <div class="botoes-container">
        <a href="principal.html" class="novobtn btn-novo-problema" onclick="localStorage.removeItem('modificarProblema');">Novo Problema</a>
        <button id="modificarProblemaBtn" class="modificarbtn btn-modificar-problema">Modificar Problema</button>
    </div>

    <h3>Solução Simplex</h3>

    <div id="tabela-container" class="table-container"></div>

    <footer class="footer">
        Copyright © GeoZebra 2024
    </footer>

    <script src="../js/tabular.js"></script>
    <script>
        document.getElementById('modificarProblemaBtn').addEventListener('click', function () {
            // Define no localStorage a intenção de modificar o problema
            localStorage.setItem('modificarProblema', 'true');
            window.location.href = 'principal.html';
        });
    </script>
</body>
</html>
